/*** Real Time Counter ***/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #0a0a23;
}

body {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-grey);
}

.container {
  width: 360px;
  margin: auto;
  margin-top: 25vh;
}

h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

textarea {
  width: inherit;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  color: #0d6efd;
  outline-color: #0d6efd;
  font-size: 1.2rem;
  text-align: center;
}

.result {
  width: 320px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: sans-serif;
  color: var(--dark-grey);
  background-color: whitesmoke;
}
