/* Spam Filter */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--light-grey);
  background-color: var(--dark-grey);
}

main {
  flex: 1;
}

body,
#message-input:placeholder-shown {
  text-align: center;
}

textarea {
  text-align: center;
  padding: 6px;
  max-width: 90%;
}

.main-text {
  margin: 25px 0;
}

.title {
  font-size: 3rem;
  background: linear-gradient(
    to right,
    red,
    var(--golden-yellow),
    var(--dark-orange)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.description {
  margin-top: 15px;
  font-size: 1.4rem;
}

.message-label {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#message-input:placeholder-shown,
textarea {
  font-size: 1.1rem;
}

.btn {
  display: block;
  cursor: pointer;
  width: 200px;
  margin: 10px auto;
  color: var(--dark-grey);
  background-color: var(--gold);
  background-image: linear-gradient(var(--golden-yellow), var(--orange));
  border-color: var(--gold);
  border-width: 3px;
}

.btn:hover {
  background-image: linear-gradient(var(--yellow), var(--dark-orange));
}

#result {
  font-size: 2rem;
  margin: 20px 0;
}

.footer {
  padding: 6px;
  margin-top: 10px;
}
