/* Range-Based LCM Calculator */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 16px;
  color: whitesmoke;
  background-color: #0d1b2a;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: auto;
}