/*** Favorite Icon Toggler ***/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: whitesmoke;
  background-color: #1b1b32;
}

.container {
  margin: auto;
  margin-top: 25vh;
  width: 360px;
}

h1 {
  text-align: center;
}

.item-list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-icon {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: whitesmoke;
  cursor: pointer;
}

.filled {
  color: orangered;
}
