/*** Lightbox Viewer ***/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

h1 {
  margin: 60px 0;
  text-align: center;
  color: darkslategray;
  background-color: lightblue;
}

.gallery {
  text-align: center;
}

.gallery-item {
  margin: 6px;
  width: 300px;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.lightbox {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: #000b;
}

#close-btn {
  right: 16px;
  top: 16px;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: inherit;
  transform: scale(1.5);
  background-color: transparent;
}

#lightbox-image {
  text-align: center;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}
