/* Theme Switcher */
:root {
  --m-color: #14213d;
  --m-bg-color: #e5e5e5;

  --dark-color: #E4E4E4;
  --dark-bg-color: #2C2C2C;

  --light-color: #2b2b2b;
  --light-bg-color: #E4E4E4;

  --ocean-color: #f5f5f5;
  --ocean-bg-color: #0075eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-main {
  color: var(--m-color);
  background-color: var(--m-bg-color);
}

button {
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  height: 46px;
  width: 190px;
}

.button-main {
  color: var(--m-bg-color);
  background-color: var(--m-color);
}

.button-dark {
  color: var(--dark-bg-color);
  background-color: var(--dark-color);
}

.button-light {
  color: var(--light-bg-color);
  background-color: var(--light-color);
}

.button-ocean {
  color: var(--ocean-bg-color);
  background-color: var(--ocean-color);
}

li {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  height: 46px;
  width: 190px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: whitesmoke;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}


.theme-dark {
  color: var(--dark-color);
  background-color: var(--dark-bg-color);
}

.theme-light {
  color: var(--light-color);
  background-color: var(--light-bg-color);
}

.theme-ocean {
  color: var(--ocean-color);
  background-color: var(--ocean-bg-color);
}

#status {
  min-height: 20px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Custom css animation */

#theme-dropdown {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#theme-dropdown[hidden] {
  display: block;
  /* To avoid transition glitch */
  opacity: 0;
  transform: scaleY(0);
}

#theme-dropdown:not([hidden]) {
  opacity: 1;
  transform: scaleY(1);
}