/* Palindrome Checker */

:root {
  --color1: #0a0a23;
  --color2: #ffffff;
  --color3: #00bfff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--color1);
  color: var(--color2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  max-width: 420px;
  gap: 25px;
}

img {
  width: 250px;
}

h1 {
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 25px;
}

div {
  background-color: var(--color2);
  color: var(--color1);
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  width: 90%;
}

label {
  display: block;
  font-weight: bold;
  margin: 6px 0 16px;
}

input {
  border: none;
  outline: none;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 6px;
  background-color: var(--color2);
  border-bottom: 1px solid var(--color3);
}

button {
  border: 1px solid var(--color3);
  background-color: var(--color3);
  color: var(--color2);
  border-radius: 2px;
  margin-bottom: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  height: 26px;
}

#check-btn:hover {
  border: 1px solid var(--color1);
  background-color: var(--color1);
  color: var(--color2);
}

#result {
  font-size: 20px;
  font-weight: bold;
  color: var(--color3);
}

.text {
  font-size: 18px;
  color: var(--color2);
  background-color: var(--color3);
}
